<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>stepUP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD2C4A8E1C7830AF00ED36E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD2C4AA41C7830AF00ED36E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD2C4AAF1C7830B000ED36E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
